{{!-- <div class='country-list__item'><img
    class='country-list__img'
    width='50'
    src='{{flags.svg}}'
    alt='flag of the country'
  /><span class='country__content'>{{name}}</span></div>
<p class='country-list__content'>Capital: {{capital}} </p>
<p class='country-list__content'>Population: {{population}} </p> --}}
{{!-- <p>languages: {{#each languages}}{{this.name}}, {{/each}}</p> --}}
